In [29]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [30]:
df=pd.read_csv('zameen-updated.csv')
df.head()

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent,Area Type,Area Size,Area Category
0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,4 Marla,For Sale,2,02-04-2019,NaN,NaN,Marla,4.0,0-5 Marla
1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,5.6 Marla,For Sale,3,05-04-2019,NaN,NaN,Marla,5.6,5-10 Marla
2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,8 Marla,For Sale,5,07-17-2019,NaN,NaN,Marla,8.0,5-10 Marla
3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,2 Kanal,For Sale,4,04-05-2019,NaN,NaN,Kanal,2.0,1-5 Kanal
4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,8 Marla,For Sale,3,07-10-2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,Marla,8.0,5-10 Marla

In [31]:
df.shape

(168446, 20)

In [32]:
# sample data if you implement all data size (168446, 20) then you can implement but I only 1000 rows implement 
# because big data and not support my pc 
df=df.head(1000)

In [33]:
df.isnull().sum()/len(df)*100

property_id       0.0
location_id       0.0
page_url          0.0
property_type     0.0
price             0.0
location          0.0
city              0.0
province_name     0.0
latitude          0.0
longitude         0.0
baths             0.0
area              0.0
purpose           0.0
bedrooms          0.0
date_added        0.0
agency           29.5
agent            29.5
Area Type         0.0
Area Size         0.0
Area Category     0.0
dtype: float64

In [34]:
df.dtypes

property_id        int64
location_id        int64
page_url          object
property_type     object
price              int64
location          object
city              object
province_name     object
latitude         float64
longitude        float64
baths              int64
area              object
purpose           object
bedrooms           int64
date_added        object
agency            object
agent             object
Area Type         object
Area Size        float64
Area Category     object
dtype: object

In [35]:
df['agency']=df['agency'].fillna(df['agency'].mode()[0])
df['agent']=df['agent'].fillna(df['agent'].mode()[0])

In [36]:
df.drop('page_url',axis=1,inplace=True)

In [37]:
for col in df.columns:
    df[col]=LabelEncoder().fit_transform(df[col])
df.head()

,property_id,location_id,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent,Area Type,Area Size,Area Category
0,2,200,1,139,71,1,0,433,181,2,85,1,2,7,57,137,1,30,0
1,4,182,1,119,54,1,0,457,158,3,104,1,3,25,57,137,1,45,6
2,6,69,2,160,74,1,0,401,153,6,123,1,5,64,57,137,1,62,6
3,17,28,2,235,31,1,0,460,305,4,57,1,4,19,57,137,0,11,1
4,24,181,2,120,50,1,0,309,330,3,123,1,3,58,39,135,1,62,6

In [38]:
x=df.drop('price',axis=1)
y=df['price']

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [41]:
knn=KNeighborsRegressor()
knn.fit(x_train,y_train)

KNeighborsRegressor()

In [42]:
y_pred=knn.predict(x_test)

In [43]:
print('r2_score :',r2_score(y_test,y_pred))
print('mean_absolute_error :',mean_absolute_error(y_test,y_pred))
print('mean_squared_error :',mean_squared_error(y_test,y_pred))

r2_score : 0.7529684471304089
mean_absolute_error : 26.01
mean_squared_error : 1616.3020000000001